<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %mdc%n</pattern>
    </encoder>
  </appender>

  <!-- Suppress WireMock verbose logging to avoid logging sensitive data like Bearer tokens -->
  <logger name="WireMock" level="WARN" />
  <logger name="wiremock" level="WARN" />
  <logger name="com.github.tomakehurst.wiremock" level="WARN" />

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>